.category-page {
  @apply h-screen w-screen bg-white;
  display: grid;
  grid-template:
    'category content'
    'nav content' 30px/150px 1fr;
  .categories {
    grid-area: category;
    @apply border-t border-r bg-slate-100 overflow-y-auto;
  }
  .nav {
    @apply border-t border-r bg-slate-100 flex justify-center items-center
      gap-3;
    grid-area: nav;
  }
  .content {
    grid-area: content;
    @apply border-t border-r;
  }
}
